.about
  &__left
    max-width: 460px
  &__title
    padding-top: 25px
    margin-bottom: 30px
    color: #5b6ceb
    font-size: 30px
    font-weight: 700
    line-height: 45px
    text-transform: uppercase
  &__text
    color: #555555
    font-size: 14px
    line-height: 22px