.gallery
	&-block
		display: flex
	&__item
		max-width: 480px
		position: relative
		&:before
			position: absolute
			content: ""
			width: 100%
			height: 100%
			background-color: #5b6ceb
			opacity: 0
			transition: .3s			
		&:hover:before
			opacity: .8
						
